{% extends "themes/base_homepage.html.twig" %}

{% block title %} Change Profil {% endblock %}

{% block description %} Vous êtes sur la page ce change profil {% endblock %}
{% block main %}
    {% for affichage in affichages %}
{# {{dump(affichage.organizationId)}} #}
        <div class="d-flex justify-content-center mt-5 align-items-center">
            <div class="cardChangeProfil">
                <div class="bg text-center">
                    <ul class="list-unstyled">
                        <li>Nom de l'organisation: {{affichage.organizationName}}</li>
                        <li>Role: {{affichage.roleName}}</li>
                    </ul>
                    {% if affichage.isActive == false %} 
                    <a href="{{path('change_profil.change',{'id':affichage.organizationId})}}" class="btn btn-success">Changer</a>
                    {% endif %}
                </div>
                <div class="blob"></div>
                
            </div>
        </div>        
    {% endfor %}

{% endblock %}