<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lien de Réinitialisation du mot de passe">
    <title>Lien de Réinitialisation mot de passe</title>
</head>
<body>
    
</body>
</html>


<h1>Hi!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

<a href="{{ url('authentication.reset_password', {token: resetToken.token}) }}">{{ url('authentication.reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Acclamations!</p>
